.modal {    
    position: fixed; /* Stay in place */    
    left: 30%;
    top: 30%;
    z-index: 1; /* Sit on top */    
    width: 60%; /* Full width */       
    max-width: 600px;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(255,255,255); /* Fallback color */
    background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
    transition: width 2s;
    border: 1px solid black;
    box-shadow: 5px 5px 2px black;
}

.hidden{
   display:none;
}

label.name {
    font-size: 30px;
    /*background-color: royalblue;*/
}

div.stats {
    display: inline-block;
    /*height: 300px;
    width: 300px;*/
    position: absolute;
    margin-top: 20px;      
}
div.modal_content div {       
    width:50%;
    height:80%;
}

div.modal_content img {    
    width:300px;
    height:300px;
    margin-top: 20px;    
    display: inline-block;
}
.modal_content{
    flex-flow: row;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
    height: 32px;
    width: 32px;    
    opacity: 0.8;    
    background-image: url(close2.png);
    margin-top: -37px;
    margin-right: 2px;
}

.close:hover,
.close:focus {
    background-color:grey;
    text-decoration: none;
    cursor: pointer;
}