button{
    font-size: 18px;    
    width: 150px;
    height: 150px;
    border: 0px;
}

button#bulb{
    background: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png);
    background-size: cover;
    
}

#pokemon-list {
    position: relative;
    display: table;
}

li {
    list-style-type: none;
    float: left;
    margin: 10px;
    border: 2px solid #AD235E;
}
#bulb-all{
    background-color: green;
}
#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}