button{
    font-size: 18px;    
    width: 150px;
    height: 150px;
    border: 0px;
}

button#bulb{
    background: url(https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png);
    background-size: cover;
    
}

#pokemon-list {
    position: relative;
    display: table;
}

li {
    list-style-type: none;
    float: left;
    margin: 10px;
    border: 2px solid #AD235E;
}
#bulb-all{
    background-color: green;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
      
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}